<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Management</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Inventory Management</h1> 
            </header>
            <div class="card">
            <div class="hello">
                <h3>Hello, User! what do you want to do today</h3>
                <button type="button" routerLink="/inventory" routerLinkActive="active">View Inventory</button>
                <button type = "button" routerLink="/add" routerLinkActive="active">Add new items</button>
                <button type = "button" routerLink="/audits" routerLinkActive="active">Audits</button>
            </div>
            </div>
        </div>
    </body>
</html>
