<!DOCTYPE html>
<html>
    <head>
        <title>New Item</title>
    </head>
    <body>
        <mat-sidenav-container class="nav-container">
            <mat-sidenav class="nav-bar" opened="" mode="side">
                <button id="home" routerLink="/home" routerLinkActive="active"><nav>Home</nav></button>
            </mat-sidenav>
            <mat-sidenav-content></mat-sidenav-content>
        </mat-sidenav-container>
        <div class="container" id="searchBar">
            <input type="search" name="search" id="search">
        </div>
        <div id="results">
            <table>
            </table>
        </div>
        <footer>
        </footer>
    </body>
</html>