<!DOCTYPE html>
<html>
    <head>
        <title>Inverntory</title>
    </head>
    <body>
        <div class="container">
            <h2>Edit Items</h2>
        <form>
            <label>Items Name</label> <input name= "username" type="text"  id="nameitem" required > 
            <label>Items ID#</label> <input name= "ID" type="text"  id="nameid" required ><br>

            <label>Number of Items</label> <input name= "number" type = "text" id= "namenum" required>
            <label>Entry Date</label> <input name= "Date" type="date"  id="namedate" required ><br>

            <label>Location</label> <input name = "location" type= "text" id= "nameloc" required >
            <label>Value</label> <input name= "username" type="text"  id="value" required ><br>

            <label>Catagory</label> <input name ="type" type="text" id ="catagory" required> <br>
            <h4>Description</h4>
            <label><input name ="type" type="text" id ="text" required></label>
        <div>
            <button type="submit" id="delete">Delete</button>
            <button type="submit" id="save">Save</button>
            <button type="submit" id="close">Close</button>
        </div>
        </form>
        </div>
    </body>
</html>
