<!DOCTYPE html>
<html>
    <head>
        <title>Inverntory</title>
    </head>
    <body>
        <h1 mat-dialog-title>Edit Item</h1>
        <div mat-dialog-contenet>
        <form>
            <label>Name</label> <input name= "name" type="text"  id="nameitem" required > 
            <label>ID</label> <input name= "id" type="text"  id="nameid" required ><br>

            <label>Number of Items</label> <input name= "amount" type = "text" id= "namenum" required>
            <label>Purchase Date</label> <input name= "purchase_date" type="date"  id="namedate" required ><br>

            <label>Location</label> <input name = "location" type= "text" id= "nameloc" required >
            <label>Value</label> <input name= "unit_price" type="text"  id="value" required ><br>

            <label>Catagory</label> <input name ="category" type="text" id ="catagory" required> <br>
            <h4>Description</h4>
            <textarea name ="description" type="textbox" id ="text" rows="5" cols="200" required></textarea>
        <div>
            <button type="submit" id="delete">Delete</button>
            <button type="submit" id="save">Save</button>
            <button mat-button mat-dialog-close="close" id="close" (click)="openDialog()">Close</button>
        </div>
        </form>
        </div>
    </body>
</html>
