h2{
    color: #ff681f;
    text-align: center;
}
#nameitem{
    text-align: left;
    margin-left: 30px;
    margin-right: 65px;
    
}
#nameid{
    text-align: right;
    margin: 10px;
    margin-right: 2px;
}
#namenum{
    text-align: left;
    margin-right: 65px;
    
}
#namedate{
    text-align: right;
    margin: 10px;
    margin-left: 30px;
}
#nameloc{
    text-align: left;
    margin-left: 51px;
    margin-right: 65px;
}
#value{
    text-align: right;
    margin: 10px;
    margin-left: 33px;
}
#catagory{
    text-align: left;
    margin: 10px;
    margin-left: 50px;
}
#text{
    width: 550px;
    height: 150px;
    margin-left: 5px;
    padding-bottom: 45px;
}

.container{
    width: 550px;
    height: 500px;
    padding: 50px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
button:hover {
    opacity: 0.8;
}
button{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    box-align: center;
}
#delete{
    background-color: #456563;
    margin: 10px;
    margin-right: 219px;
}
#save{
    background-color: #688CCB;
    margin-right: 20px;
}
#close{
    background-color: #ff681f;
}
