<!DOCTYPE html>
<html>
    <head>
        <title>Inventory</title>
    </head>
    <body>
        <mat-sidenav-container class="nav-container">
            <mat-sidenav class="nav-bar" opened="" mode="side">
                <button id="home" routerLink="/home" routerLinkActive="active"><nav>Home</nav></button>
                <button id="inv" routerLink="/inventory" routerLinkActive="active"><nav>Inventory</nav></button>
            </mat-sidenav>
            <mat-sidenav-content></mat-sidenav-content>
        </mat-sidenav-container>
        <div class="card">
            <h2>Add New Item</h2>
            <form [formGroup]="addItem" (ngSubmit)="onSubmit()">
                <div id="left">
                    <label for="name">Name</label> <input type="text" id="name" formControlName="name" required><br>
                    <label for="category">Category</label> <input type="text" id="category" formControlName="category" required><br>
                    <label for="department">Department</label> <input type="text" id="department" formControlName="department" required><br>
                    <label for="amount">Amount</label> <input type="number" id="amount" formControlName="amount" required><br>
                    <label for="date">Purchase Date</label> <input type="date"  id="date" formControlName="purchase_date" required><br>
                    <h4>Description</h4>
                    <textarea type="textbox" id="desc" rows="5" cols="55" formControlName="description"></textarea><br>
                </div>
                <div id="right">
                    <label for="payment">Payment ID</label> <input type="number"  id="payment" formControlName="payment_id" required><br>
                    <label for="price">Unit Price</label> <input type="number" id="price" formControlName="unit_price" required><br>
                    <label for="location">Location</label> <input type= "text" id="location" formControlName="location"><br>
                    <label for="auditable">Auditable</label> <input type="text"  id="auditable" formControlName="auditable" required><br>
                    <label for="lifespan">Lifespan</label> <input type="number"  id="lifespan" formControlName="lifespan" required><br>
                    <h4>Memo</h4>
                    <textarea type="textbox" id="memo" rows="5" cols="55" formControlName="memo"></textarea><br>
                </div><br>
                <button type="submit" id="add">Add Item</button>
            </form>
        </div>
        
    </body>
</html>
