<!-- Displaying the card to add items -->
<mat-card> 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- Payment ID Column -->
    <ng-container matColumnDef="payment_id">
      <th mat-header-cell *matHeaderCellDef>Payment ID</th>
      <td mat-cell *matCellDef="let element">{{element.payment_id}}</td>
    </ng-container>

      
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{element.amount}}</td>
      </ng-container>
    
  
    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">{{element.department}}</td>
    </ng-container>

      
    <!-- Location Column -->
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let element">{{element.location}}</td>
      </ng-container>
        
    <!-- Category Column -->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{element.category}}</td>
      </ng-container>
    
        
    <!-- Purchase Date Column -->
    <ng-container matColumnDef="purchase_date">
        <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
        <td mat-cell *matCellDef="let element">{{element.purchase_date}}</td>
      </ng-container>

        
    <!-- Unit Price Column -->
    <ng-container matColumnDef="unit_price">
        <th mat-header-cell *matHeaderCellDef>Unit Price</th>
        <td mat-cell *matCellDef="let element">{{element.unit_price}}</td>
      </ng-container>
    
        
    <!-- Memo Column -->
    <ng-container matColumnDef="memo">
        <th mat-header-cell *matHeaderCellDef>Memo</th>
        <td mat-cell *matCellDef="let element">{{element.memo}}</td>
      </ng-container>
    
        
    <!-- Lifespan Column -->
    <ng-container matColumnDef="lifespan">
        <th mat-header-cell *matHeaderCellDef>Lifespan</th>
        <td mat-cell *matCellDef="let element">{{element.lifespan}}</td>
      </ng-container>

      <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>

    
    <!-- Displays the clicked row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

  <div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
  </div>
  
  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{clickedRow.name}}
    </li>
  </ul>
</mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create an Item</mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <form #f ="ngForm" class="mat-elevation-z8" style="width: 100%; padding: 5px;">
  
        <mat-form-field>
          <input matInput placeholder="Name" name="name" [(ngModel)] = "invItem.name" required>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Payment ID" name="payment_id" [(ngModel)] = "invItem.payment_id" required>
        </mat-form-field>
  
        <mat-form-field>
            <input matInput placeholder="Amount" name="amount" [(ngModel)] = "invItem.amount" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Department" name="department" [(ngModel)] = "invItem.department" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Location" name="location" [(ngModel)] = "invItem.department" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Category" name="category" [(ngModel)] = "invItem.category" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Purchase Date" name="purchsae_date" [(ngModel)] = "invItem.purchsae_date" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price" name="price" [(ngModel)] = "invItem.unit_price" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Memo" name="memo" [(ngModel)] = "invItem.memo" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Lifespan" name="lifespan" [(ngModel)] = "invItem.lifespan" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" name="description" [(ngModel)] = "invItem.description" required>
        </mat-form-field>
      </form>
  
   
   
    <mat-card-actions align="end">
        <button  mat-raised-button *ngIf="!invItem.id" (click)="createItem(f)" color="primary">Save Item</button>
        <button  mat-raised-button *ngIf="invItem.id" (click)="updateItem(f)" color="primary">Update Item</button>
        <button  mat-raised-button (click)="newItem()" color="primary">New Item</button>
        <button  mat-raised-button (click)="newItem()" color="primary">Save Item</button>
        <button  mat-raised-button (click)="newItem()" color="primary">Delete Item</button>
    </mat-card-actions>
    

     <!--
        <mat-card-actions align="end">
          <button mat-button>Create Item</button>
          <button mat-button>Delete</button>
        </mat-card-actions>
    </mat-card-content>
      </mat-card>
    -->


  <!-- 
  <div>
    <h3>
      You have Selected: 
    </h3>
  </div>
  -->
  
  <!-- 
  <div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
  </div>
  
  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{clickedRow.name}}
    </li>
  </ul>
-->
  

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"> 
        <button  mat-raised-button (click)="deleteItem(element.id)" color="secondary">Delete Item</button>
        <button  mat-raised-button (click)="selectItem(element)" color="secondary">Select Item</button>
    </td>
    </ng-container>
