<!DOCTYPE html>
<html>
    <head>
        <title>Inventory</title>
    </head>
    <body>
        <mat-sidenav-container class="nav-container">
            <mat-sidenav class="nav-bar" opened="" mode="side">
                <button id="home" routerLink="/home" routerLinkActive="active"><nav>Home</nav></button>
            </mat-sidenav>
            <mat-sidenav-content></mat-sidenav-content>
        </mat-sidenav-container>
        <div id="dialog" class="ui-widget">
          <dialog open>
            <h1>New Item</h1>
            <form method="dialog">
              <h3>Name</h3>
              <input type="text">
              <p>value</p>
              <input type="text">
              <p>Quantity</p>
              <input type="text">
              <p>Description</p>
              <input type="text">
              <a class="itembuttom">
                <button>Add Items</button>
              </a>
            </form>
          </dialog>
        </div>

        <footer>
            <!--display selected inventory item information-->
        </footer>
    </body>
</html>