<!DOCTYPE html>
<html>
    <head>
        <title>Inventory</title>
    </head>
    <body>
        <mat-sidenav-container class="nav-container">
            <mat-sidenav class="nav-bar" opened="" mode="side">
                <button id="home" routerLink="/home" routerLinkActive="active"><nav>Home</nav></button>
            </mat-sidenav>
            <mat-sidenav-content></mat-sidenav-content>
        </mat-sidenav-container>
        <div class="container">
            <h1>New Item</h1>
            <form>
              <h3>Name</h3>
              <input type="text" id = 'Nametext'>
              <p>value</p>
              <input type="text" id = 'Valuetext'>
              <p>Quantity</p>
              <input type="text" id = 'Quanttext'>
              <p>Description</p>
              <input type="text" id = 'Desctext'>
              <input type="submit" value="Add Items">                          
            </form>
        </div>

        <footer>
            <!--display selected inventory item information-->
        </footer>
    </body>
</html>